@import "../style/index.less";

@pro-table-prefix-cls: ~"@{antd-se-prefix}-pro-table";

.@{pro-table-prefix-cls} {
  &-space {
    width: 100%;
  }
  &-search-form-operation {
    text-align: right;
  }
  &-search-form-operation-hidden {
    display: none !important;
  }
}
